*.jl.*.cov
*.jl.cov
*.jl.mem
lcov.info
/Manifest.toml
/docs/Manifest.toml
/docs/build/
/docs/generated_notebooks/
/docs/generated_scripts/
/build/

.vscode/*

local

CLAUDE.md
.claude

.ipynb_checkpoints
